
.sudoku-cell {

    -fx-font-size: 18px;

    -fx-alignment: center;

    -fx-background-color: white;

    -fx-border-color: gray;

    -fx-border-width: 1;

}

.block-right {
    -fx-border-width: 1 2 1 1;
    -fx-border-color: #444444;
}

.block-bottom {
    -fx-border-width: 1 1 2 1;
    -fx-border-color: #444444;
}

.block-corner {
    -fx-border-width: 1 2 2 1;
    -fx-border-color: #444444;
}